.hero{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('media/image1.jpg') center/cover no-repeat;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    color: white;
}